<h1 id="article-list-header" class="text-center mt-4 mb-4">
  Listing all articles
</h1>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render @articles %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<br />
<%= link_to 'Create new article', new_article_path %>
