<div class="container">
  <% flash.each do |name, msg | %> 
  <div
    class="alert <%= (name=='notice')? "success-background" : "alert-background" %> alert-dismissible fade show  text-light mt-2 justify-content-center"
  >
    <%= msg %>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% end %>
</div>
